/*  */

.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  font-size: 1.3rem;
}
a {
  color: #f15d47;

  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
  font-family: Muli, Arial, sans-serif;
  margin: 0 10px 0 0;
}
h3 {
  text-transform: uppercase;
}
p {
  font-family: arial;
  color: green;
  font-weight: 550;
  text-align: center;
  word-wrap: break-word;
}
