th {
  text-align: left;
}
h3 {
  background: #f9f9f9;
  border-top: 1px solid #d1d1d1;
  color: black;

  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 8px 8px 5px 8px;
  text-transform: uppercase;
}
table{width: 100%}
.title {
  background: 0;
  border: 0;
}
th,
td {
  border-top: 1px solid #f0f0f0;
  color: #4476b2;
  padding: 3px 8px 5px 8px;
  font-family: Muli, Arial, sans-serif;

  line-height: 19px;
}
tr > td:last-child {
  text-align: right;
}