div {
  display: flex;
}
b{
    flex-basis: 100px;
}
a{
  text-decoration: none;
  background-color: aliceblue;
  padding: 0 10px;
  border: 1px solid rgb(125, 125, 125);
}
.common1{
  background-color: lightsalmon;
}