.container{
  display: flex;
}
.row{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
  justify-content: center;
}
.box{
  padding: 0.2rem;
  margin: 0.2rem;
  border-radius: .25rem;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
}
h3{
  margin: 1rem; 
  text-align: center;

}
table{
  margin: auto;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #DAE1E7;
}
td {
  border: 1px solid lightgrey;
}

/* Header/Logo Title */
.header {
padding: 5px;
text-align: center;
background: #1abc9c;
color: white;

}
.header a{text-decoration: none}
/* Page Content */
.content {padding:10px;}


/* input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
} */
/* Overwrite default styles of hr */
/* style inputs and link buttons */
input {
padding: 12px;
border: none;
border-radius: 4px;
opacity: 0.85;

line-height: 20px;
}

input:hover {
opacity: 1;
}
/* hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
} */
/* Set a style for the submit button */
.registerbtn {
background-color: #4CAF50;
color: white;
padding: 16px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
}

.registerbtn:hover {
opacity: 1;
}
a {
color: dodgerblue;
}
