.container{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
}
.aligncenter{align-items: center;}
.row-center{
  flex: 1 1 auto;
}
img{width: 150px; height: 150px;}

.top{
  vertical-align: top;
}
h1, h2 {text-align: center}
.w100{width: 100px}
td{white-space: nowrap;}